body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logo{
    margin: 20px;

}

.header {
    margin-top: 5px;
    margin-bottom: 10px;
}

.footer {
    margin-top: 25px;

}
.class {
    margin-top: 15px;
    margin-bottom: 15px;
}