<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

  <div>
    <a href="/form">Add some stuff</a>
      <a href="/user">List</a>
  </div>

  </body>
</html>