<% include common/header %>

<script>
    $(document).ready(function () {
        $('#RegionTable').jtable({
            title: 'Regions',
            actions: {
                listAction: 'region',
                createAction: 'region/new',
                updateAction: 'region',
                deleteAction: 'region'
            },
            fields: {
                _id: {
                    key: true,
                    list: false
                },
                name: {
                    title: 'Region',
                    width: '40%'
                }

            }
        });
        $('#RegionTable').jtable('load');
    });

</script>

<div id="RegionTable"></div>


<form method="POST" action="region">
    New region:<input type="text" name="name">
    <input type="submit" name="submit" value="Add">

</form>

<% include common/footer %>