<% include common/header %>

<script>
    $(document).ready(function () {
        $('#RegionTable').jtable({
            title: 'Regions',
            actions: {
                listAction: 'region',
                createAction: 'region/new',
                updateAction: 'region/update',
                deleteAction: 'region/delete'
            },
            fields: {
                _id: {
                    key: true,
                    list: false
                },
                name: {
                    title: 'Region',
                    width: '40%'
                }

            }
        });
        $('#RegionTable').jtable('load');
    });

</script>

<div id="RegionTable"></div>


<% include common/footer %>