<div class="row">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">Home page</a></h1>
            </li>

        </ul>

        <section class="top-bar-section">
            <!--&lt;!&ndash; Right Nav Section &ndash;&gt;-->
            <!--<ul class="right">-->
                <!--<li class="active"><a href="/regions">Regions</a></li>-->
                <!--<li class="has-dropdown">-->
                    <!--<a href="#">Right Button with Dropdown</a>-->
                    <!--<ul class="dropdown">-->
                        <!--<li><a href="#">First link in dropdown</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->

            <!-- Left Nav Section -->
            <ul class="left">
                <li><a href="/region">Regions</a></li>
                <li><a href="/country">Countries</a></li>
                <li><a href="/university">Universities</a></li>
                <li><a href="/issue">Issues</a></li>
                <li><a href="/author">Authors</a></li>
            </ul>
        </section>
    </nav>
</div>